.from-x{
  transition-duration: 3s;
  transition-property: width;
  animation-name: fromX;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  
}


@keyframes fromX{
  from { 
    transform: translateX(500%) scaleX(10%);
  }
}

